/*
  ==========================================================================
  PALETTE COULEURS --
  blanc : #FFF
  bleu(logo+text) : #009E99
  jaune :#F2C100
  gris : #393939
  saumon : #FF8872
  vert : #BAC54B
  bleu(commentçamarche) : #005C5E
  ==========================================================================
*/

/*
  ==========================================================================
  ALL
  ==========================================================================
*/

body,
html {
  width   : 100%;
  height  : 100%;
  margin  : 0;
  padding : 0;
}

html {
  box-sizing : border-box;
}

*,
*::after,
*::before {
  box-sizing : inherit;
}

body {
  width            : 100%;
  color            : #fff;
  background-color : #fff;
  font-family      : Arial;
  font-size        : 62.5%;
}

.container {
  width  : 80%;
  margin : auto;
    /* background-color : red; */
    /* a changer */
}

.main {
  width  : 80%;
  margin : auto;
}

/*
  ==========================================================================
  HOME PAGE
  ==========================================================================
*/

#menu {
  display          : flex;
  width            : auto;
  height           : 101px;
  background-color : rgb(255, 255, 255);
  justify-content  : space-between;
}

#logo {
  margin-top     : 10px;
  vertical-align : middle;
}

#navigation {
  display         : flex;
  width           : 100%;
  vertical-align  : middle;
  justify-content : space-between;
    /* margin-left : 106px; */
}

#navigation li {
  font-size : 16px;
}

#navigation a {
  color           : #000;
  text-decoration : none;
}

#nav {
  width      : 50%;
  margin-top : 40px;
}

#louer {
  height           : 43px;
  margin-top       : -10px;
  padding          : 0 10px 0 10px;
  color            : #fff;
  border           : none;
  border-radius    : 8px;
  background-color : #0e9898;
  line-height      : 43px;
  cursor           : pointer;
}

/*
  ==========================================================================
  Slide
  ==========================================================================
*/

/* * L'ID Slide représente le bloc container du slide (l'image avec le vélo). */

#slide {
  width           : 100%;
  height          : 429px;
  overflow        : hidden;
  background      : url(../img/navigation/bg-header.jpg) no-repeat center;
  background-size : cover;
}

/* * La classe slide--titre représente le titre h2 du slide, "Vivez l'expérience" */

.slide--titre {
  font-size : 5em;
}

/* * la classe sous-titre représente le paragraphe sous le titre du slide */

.slide-sous-titre {
  font-size : 3em;
}

.slide-sous-titre,
.slide--titre {
  text-align : center;
}

/*
  * container-titre représente la classe qui englobe le titre et le sous-titre
  du slide avec le * background noir transparent.
*/

.container-titre {
  width            : 70%;
  margin           : 110px auto;
  padding-top      : 60px;
  padding-bottom   : 70px;
  color            : #fff;
  background-color : rgba(0, 0, 0, 0.6);
}

#search {
  height           : 100px;
  background-color : #363636;
}

.champ-recherche,
.debut,
.fin {
  width            : 21%;
  height           : 40px;
  margin-top       : 30px;
  margin-left      : 27px;
  color            : white;
  border           : 2px solid white;
  border-radius    : 5px;
  background-color : #363636;
}

.btn-search {
  width            : 263px;
  height           : 40px;
  margin-left      : 27px;
  color            : #000;
  border           : none;
  border-radius    : 10px;
  background-color : #eabf07;
  cursor           : pointer;
}

/*
  ==========================================================================
  Bloc de location de vélo
  ==========================================================================
*/

#resumBikes {
  display        : flex;
  flex-direction : row;
}

#resumBikes2 {
  display        : flex;
  height         : 500px;
  flex-direction : row;
}

.bike-contain {
  display         : flex;
  position        : relative;
  margin-top      : 30px;
  justify-content : space-around;
}

.bike {
  width : 90%;
}

/* Effet Material Design */

.ripple {
  position         : absolute;
  width            : 3px;
  height           : 3px;
  opacity          : 0;
  border-radius    : 100%;
  background-color : rgba(255, 255, 255, 0.4);
  animation        : ripple .8s ease-out;
}

.material {
  position        : relative;
  overflow        : hidden;
  align-items     : center;
  justify-content : center;
}

@keyframes ripple {
  0% {
    opacity : 1;
  }
  100% {
    opacity   : 0;
    transform : scale(180);
  }
}

/* Fin Effet Material Design */

.resumBikes-sous-titre {
  margin-top : 17px;
  color      : #393939;
  text-align : center;
  font-size  : 2em;
}

.resumBikes-titre {
  margin-top : 70px;
  color      : #0e9898;
  text-align : center;
  font-size  : 3em;
}

.mgt-bike {
  margin-top : 60px;
}

.infos {
  position         : relative;
  width            : 90%;
  height           : 100px;
  padding          : 1px 0;
  color            : #393939;
  background-color : #f0eee3;
}

.ville {
  font-size : 1.4em;
}

.categorie {
  font-size : 1.8em;
}

.tarif {
  font-size : 1.8em;
}

.tsem {
  font-size : .8em;
}

.categorie,
.tarif,
.ville {
  margin-top  : 10px;
  margin-left : 27px;
}

.etoiles-contain {
  width        : 72px;
  height       : 16px;
  float        : right;
  margin-top   : -15px;
  margin-right : 30px;
    /* background-color: rgb(1, 195, 160); */
}

.etoiles-infos {
  display     : inline-block;
  margin-left : 5px;
}

.img-profil {
  position : absolute;
  right    : 10%;
  bottom   : 80%;
}

.btn-voir-velo-proxi {
  width            : 363px;
  height           : 43px;
  float            : right;
  margin-top       : 63px;
  margin-right     : 22px;
  border           : none;
  border-radius    : 10px;
  background-color : #eabf07;
  font-size        : 1.6em;
  cursor           : pointer;
}

.btn-temoignage {
  margin-top    : 40px !important;
  margin-bottom : 80px;
}

.fond-btn-voir-velo-proxi2 {
  height           : 80px;
  background-color : #fff;
}

.btn-voir-velo-proxi2 {
  width            : 363px;
  height           : 43px;
  float            : right;
  margin-right     : 150px;
  border           : none;
  border-radius    : 10px;
  background-color : #eabf07;
  font-size        : 1.6em;
  cursor           : pointer;
}

.kfk {
  margin-top   : 25px;
  margin-right : 70px;
}

/*
  ==========================================================================
  Styles CSS du bloc Principe, 'comment ça marche ?'
  ==========================================================================
*/

#principe {
  width            : auto;
  height           : 690px;
  margin-top       : 74px;
  overflow         : hidden;
  background-color : #02585d;
}

.groupIcones {
  display         : flex;
  margin-top      : 50px;
  flex-direction  : row;
  justify-content : space-around;
}

.icones {
  display : flex;
}

.titre-ccm {
  margin-top    : 82px;
  margin-bottom : 48px;
  color         : #fff;
  text-align    : center;
  font-size     : 3.6em;
}

.para-ccm {
  width       : 903px;
  margin      : auto;
  color       : #fff;
  text-align  : center;
  font-size   : 1.8em;
  line-height : 30px;
}

.icones-ccm {
  float : left;
}

.info-icon-ccm {
  margin-top : 16px;
  color      : #eabf07;
  font-size  : 1.8em;
}

.icones-ccm,
.info-icon-ccm {
  text-align : center;
}

.ccm-inscription {
  display          : block;
  width            : 205px;
  height           : 43px;
  margin           : 73px auto;
  border           : none;
  border-radius    : 10px;
  background-color : #eabf07;
  cursor           : pointer;
}

/*
  ==========================================================================
  BLOG
  ==========================================================================
*/

#blog {
  display          : flex;
  height           : 833px;
  padding          : 1px 0;
  background-color : rgb(255, 255, 255);
}

.titre-blog {
  margin-bottom : 55px;
  color         : #0e9898;
  text-align    : center;
  font-size     : 3.6em;
}

.article-blog {
  width         : 50%;
  float         : left;
  margin-bottom : 35px;
}

.left {
  position : relative;
  width    : 50%;
  height   : 225px;
  float    : left;
}

.right {
  width            : 50%;
  height           : 225px;
  float            : right;
  background-color : #ebe8d6;
}

.article-blog--titre {
  margin-top     : 43px;
  color          : #534741;
  text-align     : center;
  text-transform : uppercase;
  font-size      : 1.9em;
}

.article-blog-texte {
  margin-top : 20px;
  color      : #534741;
  text-align : center;
  font-size  : 1.2em;
}

.blog-categorie {
  position    : absolute;
  width       : 160px;
  height      : 46px;
  color       : white;
  text-align  : center;
  font-size   : 1.8em;
  line-height : 45px;
}

.btn-lire-suite {
  margin-top  : 40px;
  margin-left : 120px;
  font-size   : 1.6em;
}

.btn-lire-suite a {
  color           : #000;
  text-decoration : none;
}

.green {
  background-color : #bebf48;
}

.pink {
  background-color : #f69679;
}

.blue {
  background-color : #99dbd1;
}

/*
  .bloc-article-blog {
  display: inline-block;
  }
*/

/*
  ==========================================================================
  END ALL
  ==========================================================================
*/

/*
  ==========================================================================
  PAGE VELO
  ==========================================================================
*/

/* photopdt + map */

.main .container {
  display         : flex;
  width           : 100%;
  justify-content : space-between;
}

#photopdt {
  display          : flex;
  width            : 60%;
  height           : 395px;
  background-image : url(../img/photos/bike1.jpg);
  background-size  : 675px 395px;
  flex-direction   : column;
}

.nomSurnom {
  display          : flex;
  height           : 70px;
  margin-top       : 330px;
  background-color : rgba(240, 238, 224, 0.8);
}

.bandeau {
  display         : flex;
  padding-left    : 10px;
  color           : #000;
  flex-direction  : column;
  justify-content : center;
  line-height     : 2.5em;
}

.nomVelo {
  font-size : 2.5em;
}

.surnomVelo {
  font-size : 1.5em;
}

/* end photopdt + map */

/* proprio */

#proprio {
  display          : flex;
  width            : 60%;
  height           : 100px;
  background-color : #393939;
  text-align       : center;
  align-items      : center;
}

.perso {
  display         : flex;
  width           : 50%;
  align-items     : center;
  justify-content : center;
}

.imgProfil {
  margin-right : 10px;
}

.identity {
  padding-right : 10px;
  line-height   : 2em;
}

.prenomNom {
  font-size : 2em;
}

.timeAnswer {
  font-size : 1.3em;
}

.stats {
  width         : 15%;
  padding-right : 10px;
}

.note {
  float      : right;
  margin-top : 5px;
}

.stats p {
  font-size : 1.5em;
}

/* end proprio */

/* biopdt */

#biopdt {
  display          : flex;
  width            : 60%;
  height           : 400px;
  margin-top       : 1px;
  background-color : #005C5E;
  flex-direction   : column;
  justify-content  : space-around;
}

#biopdt h2 {
  margin-left : 10px;
  font-size   : 1.6em;
  font-weight : bold;
  line-height : 2em;
}

#descriptif p {
  margin-left : 10px;
  font-size   : 1.5em;
}

#accessoires {
  display         : flex;
  font-size       : 1.5em;
  justify-content : space-around;
  line-height     : 2em;
}

#dispo h2 {
  margin-left : 10px;
  font-size   : 1.6em;
  font-weight : bold;
  line-height : 2em;
}

#dispo p {
  margin-left : 10px;
  font-size   : 1.5em;
}

/* fin biopdt */

/* feedback */

#feedback {
  display          : flex;
  width            : 100  %;
  height           : auto;
  margin-top       : 1px;
  background-color : #393939;
  flex-direction   : column;
  justify-content  : space-around;
}

#feedback h2 {
  margin-left : 10px;
  font-size   : 1.6em;
  font-weight : bold;
  line-height : 2em;
}

.imgText {
  display        : flex;
  flex-direction : row;
}

.imgAvis {
  margin-right : 20px;
  margin-left  : 15px;
}

.avis p {
  margin-top : 15px;
  font-size  : 1.3em;
}

.nomDate {
  display        : flex;
  float          : right;
  flex-direction : row;
}

.nomDate p {
  margin-top   : 0;
  margin-right : 15px;
  line-height  : 2.4em;
}

.saumon {
  color : #FF8872;
}

.vert {
  color : #BAC54B;
}

.bleu {
  color : #008983;
}

.nomDate .note {
  float        : right;
  margin-right : 20px;
}

/* fin feedback */

/* Temoignage page d'accueil */

.avis-container {
  float       : left;
  margin-top  : 30px;
  margin-left : 50px;
}

.titre-temoignage-home {
  margin-top : 60px;
  color      : #0e9898;
  text-align : center;
  font-size  : 3em !important;
}

.avis-home {
  display : block;
  width   : 550px;
}

.text-temoignage-home {
  width       : 450px;
  float       : left;
  margin-top  : 7px;
  margin-left : 20px;
  font-size   : 1.6em;
}

.imgAvisHome {
  float : left;
}

.nomDateHome {
  width : 600px;
}

.noteHome {
  float        : right;
  margin-right : 50px;
}

.info-temoignage {
  float       : left;
  margin-top  : 5px;
  margin-left : 20px;
  font-size   : 1.6em;
}

/* Fin de temoignage page d'accueil */

/*
  ==========================================================================
  END PAGE VELO
  ==========================================================================
*/

/*
  ==========================================================================
  FOOTER
  ==========================================================================
*/

footer {
  height           : 200px;
  background-color : #212121;
  font-size        : 1.1em;
}

footer .container {
  display         : flex;
  padding-top     : 5em;
  justify-content : space-between;
}

.plan {
  line-height : 1.5em;
}

.plan h6 {
  margin-bottom : 1em;
  font-size     : 1.2em;
  font-weight   : bold;
}

.plan ul li a {
  color           : #fff;
  text-decoration : none;
}

.plan ul li a:hover {
  text-decoration : underline;
}

.rsxScx {
  display        : flex;
  flex-direction : row;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
  margin-right : 1em;
}

/*
  ==========================================================================
  END FOOTER
  ==========================================================================
*/

/*
  ==========================================================================
  MODAL SIGN
  ==========================================================================
*/

.show-ele {
  display : block;
}

.hide-ele {
  display : none;
}

/* MODAL */

#sign {
  z-index          : 2;
  position         : fixed;
  top              : 0;
  left             : 0;
  width            : 100vw;
  height           : 100vh;
  background-color : rgba(18, 18, 11, 0.5);
  text-align       : center;
}

#sign .close-sign {
  position   : absolute;
  top        : -10px;
  right      : 0;
  width      : auto;
  height     : auto;
  text-align : right;
}

#sign .close-sign button {
  margin-top       : 10px;
  border           : none;
  background-color : transparent;
}

#sign .close-sign span {
  display : inline-block;
  color   : #393939;
}

#sign .window {
  z-index          : 2;
  position         : relative;
  width            : 40%;
  height           : auto;
  margin           : auto;
  margin-top       : 100px;
  border-radius    : 5px;
  background-color : white;
  text-align       : center;
}

#sign p {
  color : black;
}

#sign .sign-error {
  display : none;
  color   : red;
}

#sign .form-error {
  display : none;
  color   : red;
}

/* SIGN-IN PART */

#sign-in .login,
#sign-in .option-sign {
  width  : 90%;
  margin : auto;
}

#sign-in .login input {
  display       : inline-block;
  width         : 100%;
  height        : 40px;
  margin        : auto;
  margin-bottom : 10px;
}

#sign-in .login input:nth-child(1) {
  margin-top : 20px;
}

#sign-in label {
  color       : black;
  font-weight : bold;
}

/* OPTION SIGN-IN */

.text-left {
  text-align : left;
}

.text-righ {
  text-align : right;
}

#sign-in .option-sign {
}

#sign-in .option-sign .text-left,
#sign-in .option-sign .text-right {
  display : inline-block;
  width   : 49%;
  height  : 30px;
}

#sign-in .option-sign label {
  display : inline-block;
  height  : auto;
}

#sign-in .option-sign input {
  display : inline-block;
  width   : auto;
  height  : auto;
}

#sign-in .option-sign a {
  display : inline-block;
  color   : red;
}

/* SUBMIT */

#sign-in button {
  display          : inline-block;
  width            : 90%;
  height           : 40px;
  margin           : auto;
  margin-bottom    : 10px;
  color            : white;
  background-color : #009E99;
}

#sign hr {
  width  : 90%;
  border : 1px solid #393939;
}

/* SIGN UP INFO */

#sign-up-info {
  width         : 90%;
  min-height    : 60px;
  margin        : auto;
  margin-bottom : 10px;
}

#sign-up-info .text-left,
#sign-up-info .text-right {
  display : inline-block;
  width   : 49%;
  height  : 30px;
}

#sign-up-info button {
  display          : inline-block;
  width            : 90%;
  height           : 40px;
  margin           : auto;
  margin-bottom    : 30px;
  color            : white;
  background-color : #009E99;
}

/* SIGN UP PART */

#sign-up #signup-form {
  width  : 90%;
  margin : auto;
}

#sign-up input {
  display       : inline-block;
  width         : 100%;
  height        : 40px;
  margin        : auto;
  margin-bottom : 10px;
}

#sign-up input:nth-child(1) {
  margin-top : 20px;
}

#sign-up button {
  width            : 100%;
  height           : 40px;
  margin           : auto;
  margin-bottom    : 10px;
  color            : white;
  background-color : #009E99;
}

/* SIGN IN INFO */

#sign-in-info {
  width         : 90%;
  min-height    : 60px;
  margin        : auto;
  margin-bottom : 10px;
}

#sign-in-info .text-left,
#sign-in-info .text-right {
  display : inline-block;
  width   : 49%;
  height  : 30px;
}

#sign-in-info button {
  display          : inline-block;
  width            : 90%;
  height           : 40px;
  margin           : auto;
  margin-bottom    : 30px;
  color            : white;
  background-color : #009E99;
}

.firstname-error,
.name-error,
.pseudo-error {
  display    : none;
  text-align : center;
}

.email-error,
.password-error,
.password2-error {
  display    : none;
  text-align : center;
}

.error {
  display : block !important;
  color   : #F15D2F !important;
}

/*
  ==========================================================================
  END MODAL SIGN
  ==========================================================================
*/
