/* ==========================================================================
   PALETTE COULEURS --

   blanc : #FFF
   bleu(logo+text) : #009E99
   jaune :#F2C100
   gris : #393939
   saumon : #FF8872
   vert : #BAC54B
   bleu(commentçamarche) : #005C5E

   ========================================================================== */



/* ==========================================================================
   ALL
   ========================================================================== */

body {
  background-color: #fff;
  width: 100%;
  font-size: 62.5%;
}

.container {
  width: 80%;
  margin: auto;
  background-color: red; /* a changer */
}

/* ==========================================================================
   END ALL
   ========================================================================== */



/* ==========================================================================
   PAGE VELO
   ========================================================================== */

#photopdt {
  
}

/* ==========================================================================
   END PAGE VELO
   ========================================================================== */
