/* ==========================================================================
   PALETTE COULEURS --

   blanc : #FFF
   bleu(logo+text) : #009E99
   jaune :#F2C100
   gris : #393939
   saumon : #FF8872
   vert : #BAC54B
   bleu(commentçamarche) : #005C5E

   ========================================================================== */



/* ==========================================================================
   ALL
   ========================================================================== */

body {
  background-color: #fff;
  width: 100%;
  font-size: 62.5%;
  color: #fff;
  font-family: Arial;
}

.container {
  width: 80%;
  margin: auto;
  /*background-color: red; /* a changer */
}

.main {
  width: 80%;
  margin: auto;
}

/* ==========================================================================
   END ALL
   ========================================================================== */



/* ==========================================================================
   PAGE VELO
   ========================================================================== */

/* photopdt + map */

.main .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#photopdt {
  width: 60%;
  height: 395px;
  background-image: url(../img/photos/bike1.jpg);
  background-size: 675px 395px;
  display: flex;
  flex-direction: column;
}
.nomSurnom {
  height: 70px;
  background-color: rgba(240, 238, 224, 0.8);
  display: flex;
  margin-top: 330px;
}
.bandeau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  padding-left: 10px;
  line-height: 2.5em;
}
.nomVelo {
  font-size: 2.5em;
}
.surnomVelo {
  font-size: 1.5em;
}

/* end photopdt + map */



/* proprio */

#proprio {
  width: 60%;
  height: 100px;
  background-color: #393939;
  display: flex;
  text-align: center;
  align-items: center;
}
.perso {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgProfil {
  margin-right: 10px;
}
.identity {
  line-height: 2em;
  padding-right: 10px;
}
.prenomNom {
  font-size: 2em;
}
.timeAnswer {
  font-size: 1.3em;
}
.stats {
  width: 15%;
  padding-right: 10px;
}
.note {
  margin-top: 5px;
}
.stats p {
  font-size: 1.5em;
}

/* end proprio */



/* biopdt */

#biopdt {
  width: 60%;
  height: 400px;
  background-color: #005C5E;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#biopdt h2 {
  font-size: 1.6em;
  margin-left: 10px;
  line-height: 2em;
  font-weight: bold;
}
#descriptif p {
  font-size: 1.5em;
  margin-left: 10px;
}
#accessoires {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  line-height: 2em;
}
#dispo h2 {
  font-size: 1.6em;
  margin-left: 10px;
  line-height: 2em;
  font-weight: bold;
}
#dispo p {
  font-size: 1.5em;
  margin-left: 10px;
}

/* fin biopdt */



/* feedback */

#feedback {
  width: 60%;
  height: 500px;
  background-color: #393939;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#feedback h2 {
  font-size: 1.6em;
  margin-left: 10px;
  line-height: 2em;
  font-weight: bold;
}
.imgText {
  display: flex;
  flex-direction: row;
}
.imgAvis {
  margin-right: 20px;
  margin-left: 15px;
}
.avis p {
  font-size: 1.3em;
  margin-top: 15px;
}
.nomDate {
  display: flex;
  flex-direction: row;
  float: right;
}
.nomDate p {
  margin-top: 0;
  margin-right: 15px;
  line-height: 2.4em;
}
.saumon {
  color: #FF8872;
}
.vert {
  color: #BAC54B;
}
.bleu {
  color: #008983;
}
.nomDate .note {
  margin-right: 20px;
}

/* fin feedback */

/* ==========================================================================
   END PAGE VELO
   ========================================================================== */



/* ==========================================================================
   FOOTER
   ========================================================================== */
footer {
  background-color: #393939;
  height: 200px;
  font-size: 1.1em;
}
footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 5em;
}
.plan h6 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}
.plan ul li a {
  color: #fff;
  text-decoration: none;
}
.plan ul li a:hover {
  text-decoration: underline;
}
.rsxScx {
  display: flex;
  flex-direction: row;
}
.fa-facebook, .fa-twitter, .fa-instagram {
  margin-right: 1em;
}

/* ==========================================================================
   END FOOTER
   ========================================================================== */
